body{
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #262626
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center ;
  margin-top: 20%;
} 

.main-pics-cont{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.Welcome {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  > a{
    transform: translate(-100%, -100%);
    margin-left: 32em;
    text-transform: uppercase;
    color: white;
    line-height: 50px;
    text-decoration: none;
    font-size: 50px;
    font-family: verdana;
    letter-spacing: 4px;
    mix-blend-mode: hue;
  }

    > a:before, a:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background: red;
      transition: 1s;
      mix-blend-mode: hue;
    }
    > a:before {
      bottom: -2px;
      left: -2px;
    }
    > a:after{
      bottom: -2px;
      right: -2px;
    }

    > a:hover:before, a:hover:after,{
      width: calc(512px / 2);
      height: calc(50px / 0);
    }
}

.car-pix{
 margin: 5px 5px 5px 5px;
 width: 400px;
 height: 300px;
 box-shadow: 4px 4px 4px 4px #647476;
 border-radius: 10px 10px 10px 10px;
}


.buttonL {

}
.buttonR {
 
}

.modal{

}